.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ff80ab;
    /* Pink color */
}

.form-input,
.form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #a5d6a7;
    /* Light green color */
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.form-button:hover {
    background-color: #81c784;
    /* Darker shade of light green on hover */
}